# Dependencies
node_modules/

# Build output
dist/
src-tauri/target/*
!src-tauri/target/release/
src-tauri/target/release/*
!src-tauri/target/release/tse-stock.exe
!src-tauri/target/release/bundle/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Test files
test_*.json
test_*.html
gen-icon.cjs
